@media screen and (max-width: 767px){

/* ############################ common ######################### */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
html {
font-size: 62.5%;
}
body{
  height:100%;
  background-color:#fff;
  color:#444;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Roboto Slab", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

ol, ul {
list-style: none;
}

p {
line-height:1.6;
}
a {
line-height:1.6;
}
dl {
line-height:1.6;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align:top;
}

img {
max-width: 100%;
height: auto;
width /***/:auto;
border:0;
vertical-align:bottom;
}

a,a:link{
color:#0066c0;
font-weight:bold;
text-decoration:none;
}
a:hover{
color:#ee7c1a;
text-decoration:underline;
}

.clearfix:after {
  content: "."; 
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 0;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

a.imghover:hover img {
filter:alpha(opacity=80);
opacity:0.8;
}

#df_top {
    display: none !important;
}


/* ############################ common ######################### */


.container{
width:100%;
}


/* ############################ sp_header ######################### */

.sp_header_sp {
  position: fixed;
  top: 0;
  width:100%;
  height:54px;
  background-color: #fff;
  transition: .5s;
  z-index: 999;
}
.sp_header_sp.hide{
    transform: translateY(-100%);
}
.sp_header_sp02 {
  position:relative;
  width:100%;
}

.sp_header_sp h1 {
    text-align: center;
    width: 130px;
    margin: 0 auto;
    line-height:1.0;
    padding-top: 16px;
    vertical-align:middle;
}

.navi-l {
  position:absolute;
  top:0;
  left:15px;
}
.navi-l ul li {
    float:left;
    margin-right:7px;
}
.navi-l ul li.navi_right01 img {
    width:24px;
    margin-top:15px;
}
.navi-l ul li.navi_right02 img {
    width:24px;
    margin-top:15px;
}

.sb-toggle-right {
    position:absolute;
    top: 0px;
    right: 0px;
}
.navi-r {
  position:absolute;
  top: 0px;
  right: 0px;
}
.navi-r a{
    display: block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
}

.navi-r a:after{
    content:"";
    background:url(../img/header_img/sp/sp_nav_icon.svg) 0 0 no-repeat transparent;
    background-size: 54px 54px;
    width: 54px;
    height: 54px;
    display: block;
}

.sb-active .navi-r a:after{
    content:"";
    background:url(../img/header_img/sp/sp_nav_close_icon.svg) 0 0 no-repeat transparent;
    background-size: 54px 54px;
    width: 54px;
    height: 54px;
    display: block;
}


.sb-menu {
  background:#fff;
}

.sb-menu  li{
  font-size:1.3rem;
  line-height:1.0;
  letter-spacing:0.1em;
  background: url(../img/list_mk001.svg) no-repeat right 10px center;
  background-size:8px;
  border-bottom:1px dotted #ddd;
}

.sb-menu li a,a:link a:visited {
  display:block;
  width:100%;
  font-weight: bold;
  padding:18px 15px;
  text-decoration:none;
}

.sb_ac_sp {
  position:relative;
  width:100%;
  border-bottom:1px dotted #ddd;
}
.sb_ac_sp h3.ac_title {
  color:#0066c0;
  pointer-events: all;
  font-size:1.3rem;
  letter-spacing:0.1em;
  font-weight: bold;
  line-height:1.0;
  padding:18px 15px;
}
.sb_ac_sp h3.ac_title:after {
   content: "";
   position: absolute;
   right: 0;
   background: url(../img/list_mk003.svg) no-repeat right 11px center;
   background-size:8px;
   padding:8px 15px;
}
.sb_ac_sp h3.ac_title.ac:after {
   content: "";
   position: absolute;
   right: 0;
   background: url(../img/list_mk007.svg) no-repeat right 11px center;
   background-size:8px;
   padding:8px 15px;
}
.ac_list_sp {
  position: relative;
  width:100%;
  font-size:1.1rem;
  padding:10px 5% 20px;
  z-index:100;
  overflow:hidden;
}
.ac_list_sp .ac_list {
  position: relative;
  width: 50%;
  float:left;
  letter-spacing:0.1em;
  margin-bottom:15px;
  z-index:200;
}
.ac_list_sp .ac_list a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.ac_list_sp .ac_list img {
  height:35px;
  padding-right:7px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
.sb-menu li a,a:link a:visited {
background-image: url('../img/sp/sp_listmk001.png');
background-size: 10px 7px;
}
}

.sb-menu li a:hover {
  background-color:#fff;
}

.sb-slidebar{
    background-color:#fff !important;
    padding:0px;
    border-left: 1px dotted #ddd;
}


#fixed {
    position: fixed !important;
    z-index: 0;
    background-color: #f1f1f1;
}

.sb-slidebar.sb-right {
  -webkit-overflow-scrolling: touch;
}

/* ############################ sp_header ######################### */


/* ############################ pc_header ######################### */

.header_sp {
  display:none;
}
.header_sp02 {
  display:none;
}

/* ############################ pc_header ######################### */


/* ################ title_style ################ */

.title_sp01 {
  position:relative;
  width:100%;
  height:200px;
  background-color:#f1f1f1;
}
.title_sp01_02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
    width: 86%;
}
.title_sp01_02 h2 {
  text-align:center;
  font-size:2.4rem;
  color:#111;
  line-height:1.0;
  letter-spacing:0.1em;
}
.title_sp01_02 p {
  font-size:1.3rem;
  letter-spacing:0.1em;
  margin-top: 20px;
}
.title_sp01_02 p br {
  display:none;
}

.title_sp02 {
  position:relative;
  width:100%;
  background-color:#f1f1f1;
}
.title_sp02_02 {
  width: 100%;
}
.title_sp02_02 h2 {
  position:relative;
  text-align:center;
  font-size:1.6rem;
  font-weight:bold;
  color:#111;
  line-height:1.0;
  letter-spacing:0.075em;
  background-color:#f1f1f1;
  padding: 20px 0;
}
.title_sp02_02 h2:before {
  content: "";
  position: absolute;
  right: 0;
  top: -12px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #f1f1f1 transparent #f1f1f1 transparent;
  border-width: 0px 6px 12px 6px;
}
.title_sp02_02 p {
  display:none;
}

.title_sp04 {
  position:relative;
  width:100%;
  background-color:#f1f1f1;
}
.title_sp04_02 {
  width:100%;
}
.title_sp04_02 h2 {
  position:relative;
  text-align:center;
  font-size:1.6rem;
  font-weight:bold;
  color:#111;
  line-height:1.0;
  letter-spacing:0.075em;
  padding: 20px 0;
}
.title_sp04_02 p {
  display:none;
}

/* ################ title_style ################ */


/* ############################ contents ######################### */

.bread_sp {
  width:100%;
  background-color:#f1f1f1;
  padding:18px 0;
  margin-top: 54px;
}
.bread_sp ul {
  font-size:1.1rem;
  letter-spacing:0.1em;
  width:90%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin:0 auto;
}
.bread_sp ul li {
  background:url(../img/list_mk001.svg) no-repeat left center;
  background-size:8px;
  padding-left:14px;
  margin-right:15px;
}


/* ################ search_contents ################ */

.search_contents_sp {
  width:100%;
  padding-bottom:80px;
}

.search_tab_sp {
  width:100%;
}
.search_tab_sp .tabs {
  width:100%;
}
.search_tab_sp ul.tabs {
  position: relative;
  overflow: hidden;
  text-align:center;
  font-size:1.5rem;
  color:#111;
  letter-spacing:0.1em;
  line-height:1.0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
}
.search_tab_sp ul.tabs li {
  color:#111;
  position:relative;
  vertical-align:top;
  position: relative;
  width: 100%;
  width: -moz-calc((100% / 3) - 0px);
  width: -webkit-calc((100% / 3) - 0px);
  width: calc((100% / 3) - 0px);
  padding:22px 0;
  transition: all .3s;
  background: url(../img/list_mk003.svg) no-repeat center bottom 6px;
  background-size:8px;
  background-color:#f1f1f1;
}
.search_tab_sp ul.tabs li:hover {
  color:#ee7c1a;
  background-color:#f1f1f1;
  text-decoration:none;
}
.search_tab_sp ul.tabs li.active {
  color:#ee7c1a;
  font-weight:bold;
  background-color:#fff;
}
.search_tab_sp ul.tabs li a {
  display:block;
}

.search_tab_sp .tab_content {
  width:100%;
  padding:20px 0 0;
}

.search_option_sp01 {
  width:100%;
}
.search_option01_left {
  width:100%;
  padding:25px 0;
  background-color:#f1f1f1;
}
.search_option01_left p {
  font-size:1.3rem;
  letter-spacing:0.1em;
  text-align:center;
}
.search_option01_left p span.search_num {
  color:#111;
  font-size:1.8rem;
  font-weight:500;
  padding-right:3px;
}

.search_option01_right {
  display:none;
}
.sp_search_sort_sp {
  width:86%;
  margin: 0 auto 20px;
}
.sp_search_sort_sp02 {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.sp_search_sort_sp02 p {
  width:24%;
  letter-spacing:0.1em;
  font-size:1.3rem;
}
.sp_search_sort_sp02 select {
  width:76%;
  font-size:1.4rem;
  color:#444;
  letter-spacing:0.1em;
  border:1px solid #ddd;
  padding:12px 10px 12px ;
}

.pc_search_sort_sp {
  display:none;
}

.search_pager_sp {
}
.search_pager_sp ul {
  position:relative;
  text-align:center;
  font-size:1.2rem;
  letter-spacing:0.1em;
  line-height:1.0;
}
.search_pager_sp ul li {
  text-align:center;
  display:inline-block;
}
.search_pager_sp ul li.pager_active {
  text-align:center;
  width:22px;
  height:30px;
  line-height:30px;
  color:#111;
  font-weight:bold;
}
.search_pager_sp ul li.pager_link a,a:link a:visited {
  display:block;
  text-align:center;
  width:22px;
  height:30px;
  line-height:30px;
}
.search_pager_sp ul li.pager_next {
  position:absolute;
  top:0;
  right:12px;
  font-size:1.2rem;
  background:url(../img/list_mk001.svg) no-repeat right center;
  background-size:8px;
  padding-right:15px;
  line-height:30px;
}
.search_pager_sp ul li.pager_prev {
  position:absolute;
  top:0;
  left:12px;
  font-size:1.2rem;
  background:url(../img/list_mk005.svg) no-repeat left center;
  background-size:8px;
  padding-left:15px;
  line-height:30px;
}


/* ##### search_list_sp_2c ##### */

.search_list_sp_2c {
  width:100%;
  padding:0 0 20px;
}
.search_list_sp_2c .search_list {
  position: relative;
  width: 100%;
  margin-bottom : 40px;
}
.search_list_sp_2c .search_img {
  margin-bottom:20px;
}
.search_list_sp_2c .search_list h3 {
  width:90%;
  font-size:1.5rem;
  font-weight:bold;
  margin:0 auto ;
  letter-spacing:0.1em;
}

/* ##### search_list_sp_2c ##### */


/* ##### search_list_sp_3c ##### */

.search_list_sp_3c {
  width:96%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:20px 0 ;
  margin:0 auto;
}
.search_list_sp_3c .search_list {
  position: relative;
  width: 50%;
  padding:20px 8px;
}
.search_list_sp_3c .search_img {
  margin-bottom:20px;
}
.search_list_sp_3c .search_list h3 {
  font-size:1.5rem;
  font-weight:bold;
  letter-spacing:0.1em;
}

/* ##### search_list_sp_3c ##### */


.search_option_sp02 {
  width:100%;
  padding:20px 0 0;
}
.search_option02_left {
  display:none;
}

.search_option02_right {
  width:100%;
  background-color:#f1f1f1;
  padding:18px 0;
}

p.search_text01 {
  width:90%;
  font-size:1.2rem;
  letter-spacing:0.1em;
  margin:15px auto 0;
}
p.search_text02 {
  width:100%;
  font-size:1.2rem;
  letter-spacing:0.1em;
  margin:0 auto;
}
ul.tag_style01 {
  width:90%;
  font-size:1.1rem;
  letter-spacing:0.1em;
  margin:15px auto 0;
  line-height:1.0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
ul.tag_style01 li {
  line-height:1.0;
}
ul.tag_style01 li a,a:link a:visited {
  color:#111;
  text-decoration:none;
  display:block;
  background-color:#f1f1f1;
  margin-right:5px;
  padding:8px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
ul.tag_style01 li a:hover {
  color:#ee7c1a;
}

ul.tag_style02 {
  width:100%;
  font-size:1.1rem;
  letter-spacing:0.1em;
  margin:15px auto 0;
  line-height:1.0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
ul.tag_style02 li {
  line-height:1.0;
}
ul.tag_style02 li a,a:link a:visited {
  color:#111;
  text-decoration:none;
  display:block;
  background-color:#f1f1f1;
  margin-right:5px;
  padding:8px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
ul.tag_style02 li a:hover {
  color:#ee7c1a;
}

/* ################ search_contents ################ */


/* ################ item_contents ################ */

.item_contents_sp {
  width:100%;
  padding-bottom:80px;
}

.item_detail_sp01 {
  width:100%;
  margin: 0 auto 60px;
}
.item_detail_sp01_left {
  width:100%;
}
.item_detail_main_sp {
  width:100%;
  margin-bottom:40px;
}
.item_detail_main_sp div.custom-thumb {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  margin:10px auto 0;
}
.item_detail_main_sp div.custom-thumb a {
  display:block;
  width:20%;
}

.item_detail_sp03 {
  width:100%;
  margin: 0 auto 60px;
}
.item_detail_sp03 .title_sp02_02 h2:before {
  display:none;
}
.inspi_list_sp {
  width:100%;
}
.inspi_list_sp ul {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.inspi_list_sp ul li {
  width:50%;
}

.item_detail_sp05 {
  width:100%;
  margin: 0 auto 60px;
}
.item_desc_sp {
  width:90%;
  margin: 30px auto 0;
}
.item_desc_sp h4 {
  width:100%;
}
.item_desc_sp h4 img {
  width:100%;
}
.item_desc_sp p {
  font-size:1.3rem;
  letter-spacing:0.1em;
  margin-top: 20px;
}

/* ################ item_contents ################ */


/* ################ lp_contents ################ */

.lp_contents_sp {
  width:100%;
  padding-bottom:80px;
}
.lp_main_sp {
  position:relative;
  width:100%;
  margin-bottom:60px;
}
.lp_catch_sp {
  display:none;
}
.lp_catch_sp h2 {
  display:none;
}
.lp_img_sp {
  width:100%;
}

.lp_about_sp {
  width:90%;
  margin:0 auto 80px;
}
.lp_about_sp h3 {
  text-align:center;
  font-size:1.8rem;
  color:#111;
  line-height:1.0;
  letter-spacing:0.1em;
}
.lp_about_sp p {
  width:90%;
  font-size:1.3rem;
  letter-spacing:0.1em;
  line-height:2.0;
  margin: 30px auto 0;
}
.lp_catch_sp p br {
  display:none;
}

.lp_scene_sp {
  width:100%;
}
.lp_scene_sp h4 {
  width:100%;
  margin-bottom: 30px;
}
.lp_scene_sp p.lp_scene_desc {
  font-size:1.3rem;
  letter-spacing:0.1em;
  width:90%;
  margin: 0 auto 30px;
}

/* ################ lp_contents ################ */


/* ############################ contents ######################### */


/* ############################ scene_style ######################### */

.sp_scene_item_list_sp {
  width:100%;
}
.sp_scene_item_list {
  width:100%;
  border-bottom:1px dotted #ddd;
  background: url(../img/list_mk001.svg) no-repeat right 6px center;
  background-size:8px;
}
.sp_scene_item_list a,a:link a:visited {
  display:block;
  padding:20px 0;
}
.sp_scene_item_left {
  width:40%;
  float:left;
}

.sp_scene_item_right {
  width:60%;
  float:right;
  padding: 0 20px;
}
.sp_scene_item_right h3 {
  font-size:1.5rem;
  font-weight:bold;
  line-height:1.6;
  letter-spacing:0.1em;
}
.sp_scene_item_right ul.scene_item_tag {
  color:#444;
  font-weight:normal;
  font-size:1.1rem;
  letter-spacing:0.1em;
  margin-top:15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sp_scene_item_right ul.scene_item_tag li {
  margin-right:5px;
}
.sp_scene_item_right p.scene_item_desc {
  color:#444;
  font-size:1.3rem;
  font-weight:normal;
  letter-spacing:0.1em;
  margin-top:15px;
}

.pc_scene_item_list_sp {
  display:none;
}

/* ############################ scene_style ######################### */


/* ############################ ranking_style ######################### */

.rank_no1 {
  position:absolute;
  width:34px;
  height:34px;
  color: #fff;
  background-color: #b7a87d;
  font-size: 1.0rem;
  font-weight: 500;
  text-align:center;
  line-height:34px;
  top: 8px;
  left: 8px;
  z-index: 200;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
}
.rank_no2 {
  position:absolute;
  width:34px;
  height:34px;
  color: #fff;
  background-color: #a8a9a8;
  font-size: 1.0rem;
  font-weight: 500;
  text-align:center;
  line-height:34px;
  top: 8px;
  left: 8px;
  z-index: 200;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
}
.rank_no3 {
  position:absolute;
  width:34px;
  height:34px;
  color: #fff;
  background-color: #907c63;
  font-size: 1.0rem;
  font-weight: 500;
  text-align:center;
  line-height:34px;
  top: 8px;
  left: 8px;
  z-index: 200;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
}

/* ############################ ranking_style ######################### */


/* ############################ price_style ######################### */

.price_style {
  margin-top:12px;
  line-height:1.0;
}
.price_style001 {
  color:#111;
  font-size:1.6rem;
  font-weight:500;
  letter-spacing:0.075em;
  margin-top:15px;
}
.price_style002 {
  font-size:1,0rem;
  margin-left:5px;
  letter-spacing:0.1em;
}

.scene_price_style {
  color:#444;
  font-weight:normal;
  font-size:1.3rem;
  letter-spacing:0.1em;
  margin-top:15px;
  line-height:1.0;
}
.scene_price_style001 {
  color:#111;
  font-size:1.8rem;
  font-weight:500;
  letter-spacing:0.075em;
  margin-top:15px;
}
.scene_price_style002 {
  color:#444;
  font-weight:normal;
  font-size:1.1rem;
  margin-left:5px;
}

/* ############################ price_style ######################### */


/* ############################ btn_style ######################### */

.btn_style01 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.btn_style01 a, a:link a:visited {
  display: block;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing:0.1em;
    font-weight:bold;
    padding: 20px 0;
    line-height:1.0;
    background:url(../img/list_mk002.svg) no-repeat right 10px center;
    background-size:8px;
    background-color:#ee7c1a;
}

/* ############################ btn_style ######################### */


/* ############################ footer ######################### */

.footer {
width:100%;
background-color:#f1f1f1;
}

.footer_pagetop_sp {
  text-align:center;
  width:100%;
}
.footer_pagetop_sp a {
  text-align: center;
  font-size:1.2rem;
  letter-spacing:0.1em;
  display:block;
  background-color:#fff;
  border-top:1px dotted #ddd;
  border-bottom:1px dotted #ddd;
  padding:16px 0;
}

.footer_sp02 {
  padding:40px 0;
}
.footer_sp02 h4 {
  width:40%;
  text-align:center;
  margin:0 auto 25px;
}
.footer_sp02 h5 {
  width:90%;
  color:#111;
  font-size:1.4rem;
  letter-spacing:0.1em;
  font-weight:bold;
  margin:0 auto 8px;
}
.footer_sp02 p {
  width:90%;
  font-size:1.3rem;
  letter-spacing:0.1em;
  margin:0 auto;
}
.footer_sp02_left {
width:100%;
}

.footer_sp02_right {
  width:100%;
  padding-bottom:15px;
}
.footer_sp02_right h5 {
  width:90%;
  font-size:1.4rem;
  letter-spacing:0.1em;
  font-weight:bold;
  color:#111;
  margin: 0 auto 10px;
}
.footer_list {
  width:100%;
  margin-bottom:25px;
}
.footer_sp02_right ul {
  font-size:1.3rem;
  letter-spacing:0.1em;
  border-top:1px dotted #ddd;
}
.footer_sp02_right ul li {
  width:50%;
  float:left;
  background: url(../img/list_mk001.svg) no-repeat right 6px center;
  background-size:8px;
  padding:12px 10px 12px 18px;
  border-bottom:1px dotted #ddd;
}
.footer_sp02_right ul li:nth-child(odd){
  border-right:1px dotted #ddd;
}

.copy {
  width:100%;
  background-color:#000;
}
.copy p {
  color:#f1f1f1;
  font-size:1.0rem;
  letter-spacing:0.1em;
  line-height:1.0;
  padding:15px 0;
}

/* ############################ footer ######################### */


/* ############################ other_class_style ######################### */


.right {
text-align:right;
}
.center {
text-align:center;
}

.b-none {
border:none !important;
}

.red01 {
color:#f00;
}
.red02 {
color:#f00;
font-weight:bold;
}
.black01 {
color:#000;
}
.black02 {
color:#000;
font-weight:bold;
}


.pc {
display:none;
}

.m-top15px {
margin-top:15px;
}

.f10px {
font-size: 10px;
}

/* ############################ other_class_style ######################### */


}