@media screen and (min-width: 768px){

/* ############################ common ######################### */

html, body, div, nav, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,footer,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

* {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
html {
font-size: 62.5%;
}
body{
height:100%;
background-color:#fff;
color:#444;
font-size: 12px;
font-size: 1.2rem;
font-family: "Roboto Slab", 游ゴシック体, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
font-weight:500;
}

ol, ul {
	list-style: none;
}

p {
line-height:1.6;
}
dl {
line-height:1.6;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
	vertical-align:top;
}

img {
max-width: 100%;
height: auto;
width /***/:auto;
border:0;
vertical-align:bottom;
}

a,a:link a:visited {
color:#0066c0;
transition: all .3s;
text-decoration:none;
}
a:hover{
color:#ee7c1a;
text-decoration:underline;
}

.clearfix:after {
  content: "."; 
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

a.imghover:link img {
transition: all .3s;
}
a.imghover:hover img {
filter:alpha(opacity=70);
opacity:0.7;
}

#df_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index:1000;
}
#df_top a {
  display:block;
  width:56px;
  height:56px;
  color: #111;
  background-color: #fff;
  font-size: 1.0rem;
  font-weight: 500;
  text-align:center;
  line-height:56px;
  z-index: 200;
  letter-spacing: 0.12em;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  text-decoration:none;
  border:1px dotted #ccc;
}
#df_top a:hover {
  color: #fff;
  background-color: #ee7c1a;
}

/* ############################ common ######################### */


.container{
width:100%;
}


/* ############################ pc_header ######################### */

.header_sp {
  width:100%;
  height:70px;
  background-color: #fff;
}
.header_sp02 {
  position:relative;
  width:100%;
  z-index:100;
}
.logo_sp {
  position:absolute;
  width:160px;
  top:26px;
  left:5%;
  z-index:100;
}

.header_sp03 {
  position:relative;
  width:100%;
}

.header_cat {
  float:right;
  height:70px;
}

.header_cat ul {
  font-weight:bold;
  font-size:1.4rem;
  letter-spacing:0.1em;
}
.header_cat ul li {
}
.header_cat ul li a.navi {
  color:#111;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  height:70px;
  padding:0 20px;
  text-decoration:none;
  background: url(../img/list_mk003.svg) no-repeat center bottom 5px;
  background-size:8px;

}
.header_cat ul li a.navi:hover {
  background-color:#f1f1f1;
}

.megaWrap{
  width: 100%;
  display: none;
  position: absolute;
  top:70px;
  left: 0;
  background-color: #fff;
}

.megaContentWrap {
  width:100%;
  min-width:1000px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding: 20px 40px;
}
.megaContentWrap .search_list {
  position: relative;
    width: 100%;
  width: -moz-calc((100% / 6) - 2px);
  width: -webkit-calc((100% / 6) - 2px);
  width: calc((100% / 6) - 2px);
  margin:0 1px;
  letter-spacing:0.1em;
}
.megaContentWrap .search_list h3 {
  color:#111;
  font-size:1.4rem;
  font-weight:normal;
  height:35px;
}
.megaContentWrap .search_list ul {
  font-size:1.2rem;
  padding-right:10px;
}
.megaContentWrap .search_list ul li {
  margin-bottom:15px;
}
.megaContentWrap .search_list ul li a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.megaContentWrap .search_list ul li img {
  height:50px;
  padding-right:10px;
}

.global_nav {
  float:right;
  height:70px;
  margin-right:205px;
}
.global_nav ul {
  font-size:1.4rem;
  font-weight:bold;
  letter-spacing:0.1em;
}
.global_nav ul li {
  display:inline-block;
}
.global_nav ul li a {
  color:#111;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  height:70px;
  padding:0 20px;
  text-decoration:none;
}
.global_nav ul li a:hover {
  color:#ee7c1a;
}

.sub_nav {
  position:absolute;
  top:0;
  right:5%;
  height:70px;
}
.sub_nav ul {
  font-size:1.0rem;
  font-weight:bold;
}
.sub_nav ul li {
  float:left;
  text-align:center;
}
.sub_nav ul li img {
  height:24px;
  margin-bottom:4px;
}
.sub_nav ul li a,a:link a:visited {
  display:block;
  width:62px;
  height:70px;
  padding:13px 0;
  color:#111;
  text-decoration:none;
}
.sub_nav ul li a:hover {
  color:#ee7c1a;
}


/* ############################ pc_header ######################### */


/* ############################ sp_header ######################### */

.sp_header_sp {
	display:none;
}
.sp_haadnav_sp {
	display:none;
}

/* ############################ sp_header ######################### */



.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}



/* ################ title_style ################ */

.title_sp01 {
  position:relative;
  width:100%;
  height:200px;
  background-color:#f1f1f1;
  margin-bottom:60px;
}
.title_sp01_02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
    width: 80%;
}
.title_sp01_02 h2 {
  text-align:center;
  font-size:3.0rem;
  color:#111;
  line-height:1.0;
  letter-spacing:0.1em;
}
.title_sp01_02 p {
  text-align:center;
  font-size:1.3rem;
  letter-spacing:0.1em;
  margin-top: 15px;
  line-height:1.7;
}

.title_sp02 {
  position:relative;
  width:100%;
  height:140px;
  background-color:#f1f1f1;
}
.title_sp02:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -16px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #f1f1f1 transparent #f1f1f1 transparent;
  border-width: 16px 10px 0px 10px;
}
.title_sp02_02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
    width: 80%;
}
.title_sp02_02 h2 {
  text-align:center;
  font-size:2.6rem;
  font-weight:bold;
  color:#111;
  line-height:1.0;
  letter-spacing:0.1em;
}
.title_sp02_02 p {
  text-align:center;
  font-size:1.4rem;
  letter-spacing:0.1em;
  line-height:1.0;
  margin-top: 8px;
}

.title_sp03 {
  position:relative;
  width:100%;
  height:140px;
  background-color:#f1f1f1;
}
.title_sp03:before {
  content: "";
  position: absolute;
  right: 0;
  top: -16px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #f1f1f1 transparent #f1f1f1 transparent;
  border-width: 0px 10px 16px 10px;
}
.title_sp03_02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
    width: 80%;
}
.title_sp03_02 h2 {
  text-align:center;
  font-size:2.6rem;
  font-weight:bold;
  color:#111;
  line-height:1.0;
  letter-spacing:0.1em;
}
.title_sp03_02 p {
  text-align:center;
  font-size:1.4rem;
  letter-spacing:0.1em;
  line-height:1.0;
  margin-top: 8px;
}

.title_sp04 {
  position:relative;
  width:100%;
  height:140px;
  background-color:#f1f1f1;
}
.title_sp04_02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
    width: 80%;
}
.title_sp04_02 h2 {
  text-align:center;
  font-size:2.6rem;
  font-weight:bold;
  color:#111;
  line-height:1.0;
  letter-spacing:0.1em;
}
.title_sp04_02 p {
  text-align:center;
  font-size:1.4rem;
  letter-spacing:0.1em;
  line-height:1.0;
  margin-top: 8px;
}

/* ################ title_style ################ */


/* ############################ contents ######################### */

.bread_sp {
  width:100%;
  background-color:#f1f1f1;
  padding:20px 0;
}
.bread_sp ul {
  font-size:1.2rem;
  letter-spacing:0.1em;
  width:90%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin:0 auto;
}
.bread_sp ul li {
  background:url(../img/list_mk001.svg) no-repeat left center;
  background-size:8px;
  padding-left:14px;
  margin-right:20px;
}


/* ################ search_contents ################ */

.search_contents_sp {
  width:100%;
  margin:0 auto;
  padding: 60px 0 100px;
}

.search_tab_sp {
  width:80%;
  margin:0 auto;
}
.search_tab_sp .tabs {
  width:100%;
  border-bottom:1px solid #ddd;
}
.search_tab_sp ul.tabs {
  position: relative;
  overflow: hidden;
  text-align:center;
  font-size:1.6rem;
  color:#111;
  letter-spacing:0.1em;
  line-height:1.0;
}
.search_tab_sp ul.tabs li {
  color:#111;
  position:relative;
  width: 32%;
  display: -moz-inline-box;
  display: inline-block;
  /display: inline;
  /zoom: 1;
  vertical-align:top;
  margin:0 5px;
  cursor: pointer;
  padding:25px 0;
  transition: all .3s;
  border-top-left-radius: 4px;
    -webkit-top-left-border-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-top-right-border-radius: 4px;
    -moz-border-top-right-radius: 4px;
  background: url(../img/list_mk003.svg) no-repeat center bottom 6px;
  background-size:8px;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  background-color:#f1f1f1;
}
.search_tab_sp ul.tabs li:hover {
  color:#ee7c1a;
  background-color:#f1f1f1;
  text-decoration:none;
}
.search_tab_sp ul.tabs li.active {
  color:#ee7c1a;
  font-weight:bold;
  background-color:#fff;
}
.search_tab_sp ul.tabs li a {
  display:block;
}

.search_tab_sp .tab_content {
  width:100%;
  padding:40px 0 0;
}

.search_option_sp01 {
  width:100%;
  margin-bottom:15px;
}
.search_option01_left {
  width:20%;
  float:left;
}
.search_option01_left p {
  font-size:1.3rem;
  letter-spacing:0.1em;
}
.search_option01_left p span.search_num {
  color:#111;
  font-size:1.8rem;
  font-weight:500;
  padding-right:3px;
}

.search_option01_right {
  width:80%;
  float:right;
}
.pc_search_sort_sp {
  width:100%;
  margin-bottom:15px;
}
.search_option01_right .pc_search_sort_sp ul {
  font-size:1.3rem;
  letter-spacing:0.1em;
  float:right;
}
.search_option01_right .pc_search_sort_sp ul li {
  display:inline;
  padding: 0 15px;
  border-right:1px dotted #ddd;
}
.search_option01_right .pc_search_sort_sp ul li:nth-child(2){
  margin-left:0;
}
.search_option01_right .pc_search_sort_sp ul li.search_active {
  color:#111;
  font-weight:bold;
}

.sp_search_sort_sp {
  display:none;
}

.search_pager_sp {
}
.search_pager_sp ul {
  font-size:1.3rem;
  letter-spacing:0.1em;
  line-height:1.0;
  float:right;
}
.search_pager_sp ul li {
  display:inline-block;
}
.search_pager_sp ul li.pager_active {
  text-align:center;
  width:34px;
  height:34px;
  line-height:34px;
  color:#111;
  font-weight:bold;
}
.search_pager_sp ul li.pager_link a,a:link a:visited {
  display:block;
  text-align:center;
  border:1px solid #ddd;
  margin-left:3px;
  width:34px;
  height:34px;
  line-height:34px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.search_pager_sp ul li.pager_link a:hover {
  color:#ee7c1a;
  text-decoration:none;
  background-color:#f1f1f1;
}
.search_pager_sp ul li.pager_next {
  font-size:1.2rem;
  background:url(../img/list_mk001.svg) no-repeat right center;
  background-size:8px;
  padding-right:15px;
  padding-left:12px;
  line-height:34px;
}
.search_pager_sp ul li.pager_prev {
  font-size:1.2rem;
  background:url(../img/list_mk005.svg) no-repeat left center;
  background-size:8px;
  padding-left:15px;
  padding-right:9px;
  line-height:34px;
}


/* ##### search_list_sp_2c ##### */

.search_list_sp_2c {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:25px 0 20px;
  border-bottom:1px solid #ddd;
}
.search_list_sp_2c .search_list {
  position: relative;
  width: 48%;
  margin:0 0 40px;
}
.search_list_sp_2c .search_img {
  margin-bottom:20px;
}
.search_list_sp_2c .search_list h3 {
  font-size:1.6rem;
  font-weight:bold;
  letter-spacing:0.1em;
}

/* ##### search_list_sp_2c ##### */


/* ##### search_list_sp_3c ##### */

.search_list_sp_3c {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:25px 0 20px;
  border-bottom:1px solid #ddd;
}
.search_list_sp_3c .search_list {
  position: relative;
  width: 31%;
  margin:0 0 40px;
}
.search_list_sp_3c .search_img {
  margin-bottom:20px;
}
.search_list_sp_3c .search_list h3 {
  font-size:1.6rem;
  font-weight:bold;
  letter-spacing:0.1em;
}

/* ##### search_list_sp_3c ##### */


.search_option_sp02 {
  width:100%;
  padding:20px 0 0;
}
.search_option02_left {
  width:40%;
  float:left;
}
.search_option02_left p {
  font-size:1.3rem;
  letter-spacing:0.1em;
}

.search_option02_right {
  width:60%;
  float:right;
}

p.search_text01 {
  font-size:1.3rem;
  letter-spacing:0.1em;
  margin-top:15px;
}
p.search_text02 {
  font-size:1.3rem;
  letter-spacing:0.1em;
}

ul.tag_style01 {
  font-size:1.2rem;
  letter-spacing:0.05em;
  margin-top:15px;
  line-height:1.0;
}
ul.tag_style01 li {
  line-height:1.0;
}
ul.tag_style01 li a,a:link a:visited {
  color:#111;
  text-decoration:none;
  display:block;
  float:left;
  background-color:#f1f1f1;
  margin-right:5px;
  padding:8px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
ul.tag_style01 li a:hover {
  color:#ee7c1a;
}

ul.tag_style02 {
  font-size:1.2rem;
  letter-spacing:0.1em;
  margin-top:15px;
  line-height:1.0;
}
ul.tag_style02 li {
  line-height:1.0;
}
ul.tag_style02 li a,a:link a:visited {
  color:#111;
  text-decoration:none;
  display:block;
  float:left;
  background-color:#f1f1f1;
  margin-right:5px;
  padding:8px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
ul.tag_style02 li a:hover {
  color:#ee7c1a;
}

/* ################ search_contents ################ */


/* ################ item_contents ################ */

.item_contents_sp {
  width:100%;
  margin:0 auto;
  padding-bottom:100px;
}

.item_detail_sp01 {
  width:90%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  padding-top:60px;
  margin: 0 auto 60px;
}
.item_detail_sp01_left {
  width:50%;
  padding-right:40px;
}
.item_detail_main_sp {
  width:100%;
  margin-bottom:40px;
}
.item_detail_main_sp div.custom-thumb {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  margin-top:10px;
}
.item_detail_main_sp div.custom-thumb a {
  display:block;
  width:20%;
}
.item_detail_recommend_sp {
  width:100%;
  border:1px dotted #ddd;
  padding:30px;
}
.item_detail_recommend_sp h3 {
  text-align:center;
  color:#111;
  font-size:1.6rem;
  font-weight:bold;
  line-height:1.0;
  letter-spacing:0.1em;
}
.item_detail_recommend_sp02 {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top:20px;
}
.item_detail_recommend_sp02_left {
  width:20%;
}
.item_detail_recommend_sp02_left p {
  font-size:1.3rem;
  letter-spacing:0.1em;
  text-align:center;
}
.item_detail_recommend_sp02_left p img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-bottom:5px;
}
.item_detail_recommend_sp02_right {
  width:75%;
  background-color:#f1f1f1;
  margin-left:5%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.item_detail_recommend_sp02_right p {
  font-size:1.3rem;
  letter-spacing:0.1em;
  padding:20px;
}

.item_detail_sp01_right {
  width:50%;
}
.item_detail_diyer_sp {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border:1px dotted #ddd;
  margin-bottom:30px;
}
.item_detail_diyer_sp .item_detail_diyer_sp_left {
  width:45%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-right:1px dotted #ddd;
  padding:20px;
}
.item_detail_diyer_sp .item_detail_diyer_sp_left02 {
  width:30%;
}
.item_detail_diyer_sp .item_detail_diyer_sp_left02 p img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right02 {
  position:relative;
  width:70%;
  padding-left:12px;
  padding-top:2px;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right02 h4 {
  font-size:1.3rem;
  font-weight:bold;
  letter-spacing:0.1em;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right02 p {
  font-size:1.2rem;
  letter-spacing:0.1em;
  margin-top:10px;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right {
  width:55%;
  position:relative;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right .tabs {
  width:100%;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right ul.tabs {
  position: relative;
  overflow: hidden;
  text-align:center;
  font-size:1.3rem;
  color:#111;
  letter-spacing:0.1em;
  line-height:1.4;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right ul.tabs li {
  color:#111;
  position:relative;
  width: 50%;
  display: -moz-inline-box;
  display: inline-block;
  /display: inline;
  /zoom: 1;
  vertical-align:top;
  cursor: pointer;
  padding:15px 0 22px;
  transition: all .3s;
  background: url(../img/list_mk003.svg) no-repeat center bottom 6px;
  background-size:8px;
  background-color:#f1f1f1;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right ul.tabs li:hover {
  background-color:#f1f1f1;
  text-decoration:none;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right ul.tabs li.active {
  font-weight:bold;
  background-color:#fff;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right ul.tabs li a {
  display:block;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right .tab_content {
  width:100%;
  padding:20px;
}
.item_detail_diyer_sp .item_detail_diyer_sp_right .tab_content p {
  font-size:1.2rem;
  letter-spacing:0.1em;
}

.item_detail_cart_sp {
  width:100%;
}
.item_detail_cart_sp h2 {
  color:#111;
  font-size:2.0rem;
  line-height:1.6;
  letter-spacing:0.1em;
}
.item_detail_price_sp {
  width:100%;
  border-top:1px dotted #ddd;
  border-bottom:1px dotted #ddd;
  margin-top:25px;
  padding-top:5px;
  padding-bottom:15px;
}
.item_detail_price_sp p.item_detail_price_desc {
  font-size:1.3rem;
  letter-spacing:0.1em;
  padding-top:7px;
}

.item_detail_sp02 {
  width:90%;
  margin: 0 auto 60px;
}
.item_detail_sp02 .pc_scene_item_list_sp {
  width:84% !important;
  margin:0 auto;
}

.item_detail_sp03 {
  width:90%;
  margin: 0 auto 60px;
}
.inspi_list_sp {
  width:100%;
  margin-top:40px;
}
.inspi_list_sp ul {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.inspi_list_sp ul li {
  width:25%;
}

.item_detail_sp04 {
  width:90%;
  margin: 0 auto 60px;
}
.item_detail_sp04 .pc_scene_item_list_sp {
  width:84% !important;
  margin:0 auto;
}

.item_detail_sp05 {
  width:90%;
  margin: 0 auto 60px;
}
.item_desc_sp {
  width:84%;
  margin: 40px auto 0;
}
.item_desc_sp h4 {
  width:100%;
}
.item_desc_sp h4 img {
  width:100%;
}
.item_desc_sp p {
  font-size:1.4rem;
  letter-spacing:0.1em;
  margin-top: 20px;
}

/* ################ item_contents ################ */


/* ################ lp_contents ################ */

.lp_contents_sp {
  width:100%;
  margin:0 auto;
  padding-bottom:100px;
}

.lp_main_sp {
  position:relative;
  width:100%;
  margin-bottom:80px;
}
.lp_catch_sp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width: 80%;
  z-index:20;
}
.lp_catch_sp h2 {
  text-align:center;
  font-size:3.0rem;
  color:#fff;
  line-height:1.0;
  letter-spacing:0.1em;
  text-shadow: 0px 0px 16px rgba(0,0,0,0.4);
}
.lp_img_sp {
  width:100%;
}

.lp_about_sp {
  width:90%;
  margin:0 auto 80px;
}
.lp_about_sp h3 {
  text-align:center;
  font-size:2.6rem;
  color:#111;
  line-height:1.0;
  letter-spacing:0.1em;
}
.lp_about_sp p {
  text-align:center;
  font-size:1.4rem;
  letter-spacing:0.1em;
  line-height:2.0;
  margin-top: 40px;
}

.lp_scene_sp {
  width:100%;
  margin:0 auto 80px;
}
.lp_scene_sp h4 {
  width:90%;
  margin:0 auto 40px;
}
.lp_scene_sp h4 img {
  width:100%;
}

/* ################ lp_contents ################ */


/* ############################ contents ######################### */



/* ############################ scene_style ######################### */

.pc_scene_item_list_sp {
  width:80%;
  margin:0 auto;
}
.pc_scene_item_list {
  width:100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 40px auto 0;
}
.pc_scene_item_left {
  width:40%;
}

.pc_scene_item_right {
  width:60%;
  padding-left:40px;
}
.pc_scene_item_right h3 {
  font-size:1.8rem;
  font-weight:bold;
  line-height:1.6;
  letter-spacing:0.1em;
}
.pc_scene_item_right ul.scene_item_tag {
  font-size:1.4rem;
  letter-spacing:0.1em;
  margin-top:20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pc_scene_item_right ul.scene_item_tag li {
  margin-right:5px;
}
.pc_scene_item_right p.scene_item_desc {
  font-size:1.4rem;
  letter-spacing:0.1em;
  margin-top:20px;
}

.sp_scene_item_list_sp {
  display:none;
}

/* ############################ scene_style ######################### */



/* ############################ ranking_style ######################### */

.rank_no1 {
  position:absolute;
  width:46px;
  height:46px;
  color: #fff;
  background-color: #b7a87d;
  font-size: 1.2rem;
  font-weight: 500;
  text-align:center;
  line-height:46px;
  top: -15px;
  left: -15px;
  z-index: 200;
  letter-spacing: 0.12em;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
}
.rank_no2 {
  position:absolute;
  width:46px;
  height:46px;
  color: #fff;
  background-color: #a8a9a8;
  font-size: 1.2rem;
  font-weight: 500;
  text-align:center;
  line-height:46px;
  top: -15px;
  left: -15px;
  z-index: 200;
  letter-spacing: 0.12em;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
}
.rank_no3 {
  position:absolute;
  width:46px;
  height:46px;
  color: #fff;
  background-color: #907c63;
  font-size: 1.2rem;
  font-weight: 500;
  text-align:center;
  line-height:46px;
  top: -15px;
  left: -15px;
  z-index: 200;
  letter-spacing: 0.12em;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
}

/* ############################ ranking_style ######################### */


/* ############################ btn_style ######################### */

.btn_style01 {
    text-align: center;
    width: 70%;
    margin-top:25px;
}
.btn_style01 a, a:link a:visited {
  display: block;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #fff;
    font-size: 1.6rem !important;
    letter-spacing:0.1em;
    padding: 20px 0;
    margin: 0 auto;
    background:url(../img/list_mk002.svg) no-repeat right 15px center;
    background-size:10px;
    background-color:#ee7c1a;
}
.btn_style01 a:hover{
	background-color:#e95504;
	text-decoration: none;
	color:#fff;
}

.btn_style02 {
    text-align: center;
    width: 42%;
    margin: 0 auto ;
}

.btn_style02 a, a:link a:visited {
    display: block;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: none!important;
    color: #fff;
    font-size: 1.8rem !important;
    font-weight:500;
    padding: 24px 10px;
    font-family: 'Noto Serif JP', sans-serif;
    margin: 40px auto 0;
    background:url(../img/list_mk002.svg) no-repeat right 15px center;
    background-size:12px;
    transition: all .3s;
    letter-spacing:0.1em;
    border:1px solid #fff;
}
.btn_style02 a:hover{
    color:#fff;
    background-color:rgba(255,255,255,0.1);
    border:1px solid #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.cart_btn_style {
    text-align: center;
    width: 80%;
    margin-top:25px;
}
.cart_btn_style a, a:link a:visited {
    display: block;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #fff;
    font-size: 1.8rem !important;
    font-weight:bold;
    letter-spacing:0.1em;
    padding: 20px 0;
    margin: 0 auto;
    background:url(../img/list_mk002.svg) no-repeat right 15px center;
    background-size:10px;
    background-color:#ee7c1a;
}
.cart_btn_style a:hover{
  background-color:#e95504;
  text-decoration: none;
  color:#fff;
}
.cart_btn_style img {
  width:24px;
  margin-right:6px;
  vertical-align:middle;
  padding-bottom:4px;
}

.favorite_btn_style {
    text-align: center;
    width: 60%;
    margin-top:12px;
}
.favorite_btn_style a, a:link a:visited {
  display: block;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #fff;
    font-size: 1.4rem !important;
    letter-spacing:0.1em;
    padding: 16px 0;
    margin: 0 auto;
    background:url(../img/list_mk002.svg) no-repeat right 15px center;
    background-size:10px;
    background-color:#666;
}
.favorite_btn_style a:hover{
  background-color:#444;
  text-decoration: none;
  color:#fff;
}
.favorite_btn_style img {
  width:18px;
  margin-right:6px;
  vertical-align:middle;
  padding-bottom:2px;
}

/* ############################ btn_style ######################### */


/* ############################ price_style ######################### */

.price_style {
  margin-top:12px;
  font-size:1.2rem;
  letter-spacing:0.1em;
  line-height:1.0;
}
.price_style001 {
  color:#111;
  font-size:1.8rem;
  font-weight:500;
  letter-spacing:0.075em;
  margin-top:15px;
}
.price_style002 {
  margin-left:5px;
}

.scene_price_style {
  font-size:1.4rem;
  letter-spacing:0.1em;
  margin-top:20px;
  line-height:1.0;
}
.scene_price_style001 {
  color:#111;
  font-size:2.2rem;
  font-weight:500;
  letter-spacing:0.075em;
  margin-top:15px;
}
.scene_price_style002 {
  font-size:1.2rem;
  margin-left:5px;
}

/* ############################ price_style ######################### */



/* ############################ footer ######################### */

.footer {
  width:100%;
  background-color:#f1f1f1;
  padding-top:40px;
}
.footer_sp02 {
  width:80%;
  min-width:1000px;
  margin:0 auto;
  padding:0 20px;
}
.footer_sp02 h4 {
  width:160px;
  margin-bottom:20px;
}
.footer_sp02 p {
  font-size:1.2rem;
  letter-spacing:0.1em;
}
.footer_sp02_left {
  width:240px;
  float:left;
  border-right:1px solid #ccc;
}
.footer_sp02_left h5 {
  font-size:1.3rem;
  font-weight:bold;
  color:#111;
  letter-spacing:0.1em;
  margin-bottom:10px;
}

.footer_sp02_right {
  width:720px;
  float:right;
  padding-left:40px;
}
.footer_sp02_right h5 {
  font-size:1.4rem;
  font-weight:bold;
  color:#111;
  letter-spacing:0.1em;
  margin-bottom:10px;
}

.footer_list {
  float:left;
  margin-right:35px;
}
.footer_sp02_right ul {
  font-size:1.2rem;
  letter-spacing:0.1em;
}
.footer_sp02_right ul li {
margin-bottom:6px;
background:url(../img/list_mk001.svg) no-repeat 2px center;
background-size:8px;
padding-left:16px;
}

.copy {
  width:100%;
  background-color:#000;
  margin-top:40px;
}
.copy p {
  color:#f1f1f1;
  font-size:1.0rem;
  letter-spacing:0.1em;
  line-height:1.0;
  padding:15px 0;
}

/* ############################ footer ######################### */



/* ############################ other_class_style ######################### */


.m-top25px {
margin-top:25px;
}
.m-left30px {
margin-left:30px;
}
.m-right20px {
margin-right:20px;
}

.m20 {
margin-bottom:20px;
}

.right {
text-align:right;
}
.center {
text-align:center;
}
.pc_right {
text-align:right;
}
.pc_center {
text-align:center;
}

.img-left img {
float:left;
margin-right:20px;
}

.img-right img {
float:right;
margin-left:20px;
}

.b-none {
border:none !important;
}

.red01 {
color:#f00;
}
.red02 {
color:#f00;
font-weight:bold;
}
.black01 {
color:#000;
}
.black02 {
color:#000;
font-weight:bold;
}
.sp_none {
display:none;
}

.sp {
	display:none;
}

/* ############################ other_class_style ######################### */

	
}