@media screen and (min-width: 768px){


.index_contents_sp {
	width:100%;
	min-width:1000px;
	margin:0 auto;
}

/* ############################ main_visual ######################### */

.index_main_sp {
	width:100%;
	margin:0 auto 90px;
}
.pc_slide_inner {
	width:100%;
}
.pc_slide_inner div {
	position:relative;
	padding:0 15px;
}
.pc_slide_inner div div.slide_line {
	position:absolute;
	z-index:1000;
	top:0;
	left:5px;
}
.pc_slide_inner div div.slide_line img {
	width:95px;
	border:none !important;
}


.sp_index_main_sp {
	display:none;
}

/* ############################ main_visual ######################### */


/* ############################ news ######################### */

.index_news_sp {
	width:80%;
	margin:0 auto 65px;
	padding:0 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.index_news_sp h2 {
  font-size:2.4rem;
  color:#000;
  line-height:1.0;
  letter-spacing:0.1em;
  padding-right:40px;
  padding-top:5px;
}
.index_news_sp ul {
  font-size:1.3rem;
  letter-spacing:0.1em;
  border-left:1px dotted #ddd;
  padding-left:40px;
}
.index_news_sp ul li {
	margin: 5px 0;
}

/* ############################ news ######################### */


/* ############################ ranking ######################### */

.index_ranking_sp {
	width:100%;
	padding-bottom: 70px;
}
.index_ranking_sp02 {
	width:90%;
	min-width:1000px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	margin:0 auto;
	padding:0 20px;
}
.index_ranking_sp02 .ranking_list {
	position: relative;
    width: 100%;
	width: -moz-calc((100% / 5) - 20px);
	width: -webkit-calc((100% / 5) - 20px);
	width: calc((100% / 5) - 20px);
	margin:0 10px 30px;
}
.index_ranking_sp02 .ranking_list h3 {
	font-size:1.3rem;
	font-weight:bold;
	margin-top:10px;
	letter-spacing:0.1em;
}


/* ############################ ranking ######################### */


/* ############################ project ######################### */

.index_project_sp {
	width:100%;
	padding-bottom: 80px;
}
.index_project_sp02 {
	width:90%;
	min-width:1000px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	align-items: center;
	margin:0 auto;
	padding:0 20px;
}
.index_project_sp02 p.index_project_img {
	position: relative;
    width: 50%;
}
.index_project_sp02 .index_project_sp03 {
	position: relative;
    width: 50%;
    padding-left:40px;
}
.index_project_sp02 .index_project_sp03 h3 {
	color:#111;
	font-size:2.6rem;
	letter-spacing:0.1em;
}
.index_project_sp02 .index_project_sp03 p {
	font-size:1.3rem;
	line-height:1.8;
	letter-spacing:0.1em;
	margin-top:30px;
}

/* ############################ project ######################### */


/* ############################ magazine ######################### */

.index_magazine_sp {
	width:100%;
	padding-bottom: 80px;
}

.index_magazine_info_sp {
	width:90%;
	min-width:1000px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	align-items: center;
	margin:0 auto;
	padding:0 20px;
}
.index_magazine_info_sp .index_magazine_info_list {
	position: relative;
    width: 100%;
	width: -moz-calc((100% / 3) - 20px);
	width: -webkit-calc((100% / 3) - 20px);
	width: calc((100% / 3) - 20px);
	margin:0 10px;
	letter-spacing:0.1em;
}
.index_magazine_info_sp .index_magazine_info_list a {
	display:block;
	text-align:center;
	color:#fff;
	font-size:1.8rem;
	height:250px;
	background-color:#ccc;
	text-decoration:none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0px 0px 16px rgba(0,0,0,0.4);
}

.index_magazine_detail_sp {
	width:90%;
	min-width:1000px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	align-items: center;
	margin:60px auto 0;
	padding:0 20px;
}
.index_magazine_detail_sp .index_magazine_detail_list {
	position: relative;
    width: 100%;
	width: -moz-calc((100% / 2) - 20px);
	width: -webkit-calc((100% / 2) - 20px);
	width: calc((100% / 2) - 20px);
	margin:0 10px;
}
.index_magazine_detail_sp .index_magazine_detail_list h3 {
	color:#111;
	font-size:1.8rem;
	letter-spacing:0.1em;
	margin-bottom:15px;
	line-height:1.0;
}
.index_magazine_detail_sp .index_magazine_detail_list h4 {
	font-size:1.5rem;
	font-weight:bold;
	letter-spacing:0.1em;
	margin-bottom:15px;
}
.index_magazine_detail_sp .index_magazine_detail_list h4 img {
	margin-bottom:10px;
}
.index_magazine_detail_sp .index_magazine_detail_list p.detail_desc {
	font-size:1.3rem;
	letter-spacing:0.1em;
}

/* ############################ magazine ######################### */


/* ############################ shop ######################### */

.index_shop_sp {
	width:100%;
}
.index_shop_sp .title_sp01 {
	margin-bottom: 0 !important;
}
.pc_index_shop_sp02 {
	position:relative;
	width:100%;
	z-index:10;
}
.pc_index_shop_sp02 .index_shop_catch {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
    width: 80%;
    z-index:300;
}
.pc_index_shop_sp02 .index_shop_catch h3 {
	color:#fff;
	font-size:2.6rem;
	letter-spacing:0.1em;
	text-align:center;
	text-shadow: 0px 0px 16px rgba(0,0,0,0.4);
}
#slider1 div img {
	width:100%;
}

.sp_index_shop_sp02 {
	display:none;
}
#slider2 {
	display:none;
}
.index_shop_sp03 {
	display:none;
}

/* ############################ shop ######################### */


/* ############################ search ######################### */

.index_search_sp {
	width:100%;
	padding-bottom: 100px;
}
.index_search_sp02 {
	width:90%;
	min-width:1000px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	margin:0 auto;
	padding:0 20px;
}
.index_search_sp02 .search_list {
	position: relative;
    width: 100%;
	width: -moz-calc((100% / 6) - 2px);
	width: -webkit-calc((100% / 6) - 2px);
	width: calc((100% / 6) - 2px);
	margin:0 1px;
	letter-spacing:0.1em;
}
.index_search_sp02 .search_list h3 {
	font-size:1.5rem;
	font-weight:bold;
	height:45px;
}
.index_search_sp02 .search_list ul {
	font-size:1.3rem;
	padding-right:10px;
}
.index_search_sp02 .search_list ul li {
	margin-bottom:20px;
}
.index_search_sp02 .search_list ul li a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.index_search_sp02 .search_list ul li img {
	height:50px;
	padding-right:10px;
}

/* ############################ search ######################### */

}