
@media screen and (max-width: 767px){


.index_contents_sp {
	width:100%;
}


/* ############################ main_visual ######################### */

.sp_index_main_sp {
	width:100%;
	margin:0 auto 70px;
	padding-top: 54px;
}
.sp_slide_inner {
	width:100%;
}


.index_main_sp {
	display:none;
}
.pc_slide_inner {
	display:none;
}

/* ############################ main_visual ######################### */


/* ############################ news ######################### */

.index_news_sp {
	width:90%;
	margin:0 auto 40px;
}
.index_news_sp h2 {
	width:70px;
  font-size:1.8rem;
  color:#000;
  line-height:1.0;
  letter-spacing:0.1em;
  float:left;
}
.index_news_sp ul {
  font-size:1.3rem;
  letter-spacing:0.1em;
  padding-left:80px;
}
.index_news_sp ul li {
	margin-bottom: 10px;
}

/* ############################ news ######################### */


/* ############################ ranking ######################### */

.index_ranking_sp {
	width:100%;
}
.index_ranking_sp02 {
	width:100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	margin:0 auto;
	border-bottom:1px dotted #ddd;
}
.index_ranking_sp02 .ranking_list {
	position: relative;
    width: 100%;
	width: -moz-calc((100% / 2) - 0px);
	width: -webkit-calc((100% / 2) - 0px);
	width: calc((100% / 2) - 0px);
	padding: 20px 18px;
	border-top:1px dotted #ddd;
}
.index_ranking_sp02 .ranking_list h3 {
	font-size:1.3rem;
	font-weight:bold;
	margin-top:10px;
	letter-spacing:0.1em;
}
.index_ranking_sp02 .ranking_list:nth-child(odd){
	border-right:1px dotted #ddd;
}


/* ############################ ranking ######################### */


/* ############################ project ######################### */

.index_project_sp {
	width:100%;
	padding-bottom: 60px;
}
.index_project_sp02 {
	width:90%;
	margin:40px auto 0;
}
.index_project_sp02 .index_project_img a {
	position: relative;
	display:block;
    width: 100%;
}
.index_project_sp02 .index_project_img h3 {
	text-align:center;
	color:#fff;
	font-size:1.8rem;
	letter-spacing:0.1em;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
    width: 80%;
}
.index_project_sp02 .index_project_sp03 {
	position: relative;
    width: 100%;
}
.index_project_sp02 .index_project_sp03 h3 {
	color:#111;
	font-size:2.6rem;
	letter-spacing:0.1em;
}
.index_project_sp02 .index_project_sp03 p {
	font-size:1.3rem;
	line-height:1.8;
	letter-spacing:0.1em;
	margin-top:30px;
}

/* ############################ project ######################### */


/* ############################ magazine ######################### */

.index_magazine_sp {
	width:100%;
	padding-bottom: 60px;
}

.index_magazine_info_sp {
	width:100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	align-items: center;
	border-top:1px solid #fff;
}
.index_magazine_info_sp .index_magazine_info_list {
	position: relative;
    width: 100%;
	width: -moz-calc((100% / 3) - 0px);
	width: -webkit-calc((100% / 3) - 0px);
	width: calc((100% / 3) - 0px);
	letter-spacing:0.1em;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.index_magazine_info_sp .index_magazine_info_list a {
	display:block;
	text-align:center;
	color:#fff;
	font-size:1.6rem;
	line-height:1.6;
	height:150px;
	background-color:#ccc;
	text-decoration:none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
.index_magazine_info_sp .index_magazine_info_list:last-child {
	border-right:none;
}

.index_magazine_detail_sp {
	width:90%;
	margin:0 auto;
}
.index_magazine_detail_sp .index_magazine_detail_list {
	position: relative;
    width: 100%;
    margin-top:40px;
}
.index_magazine_detail_sp .index_magazine_detail_list h3 {
	text-align:center;
	color:#111;
	font-size:1.8rem;
	letter-spacing:0.1em;
	margin-bottom:15px;
	line-height:1.0;
}
.index_magazine_detail_sp .index_magazine_detail_list h4 {
	font-size:1.5rem;
	font-weight:bold;
	letter-spacing:0.1em;
	margin-bottom:15px;
}
.index_magazine_detail_sp .index_magazine_detail_list h4 img {
	margin-bottom:10px;
}
.index_magazine_detail_sp .index_magazine_detail_list p.detail_desc {
	font-size:1.3rem;
	letter-spacing:0.1em;
}

/* ############################ magazine ######################### */


/* ############################ shop ######################### */

.index_shop_sp {
	width:100%;
}
.index_shop_sp .title_sp01 {
	margin-bottom: 0 !important;
}
.sp_index_shop_sp02 {
	position:relative;
	width:100%;
}
#slider2 div img {
	width:100%;
}

.pc_index_shop_sp02 {
	display:none;
}
.pc_index_shop_sp02 .index_shop_catch {
	display:none;
}
#slider1 {
	display:none;
}

.index_shop_sp03 {
	width:90%;
	margin:0 auto 60px;
}
.index_shop_sp03 p {
	font-size:1.3rem;
	letter-spacing:0.1em;
	margin: 20px 0;
}

/* ############################ shop ######################### */


/* ############################ search ######################### */

.index_search_sp {
	width:100%;
}
.index_search_sp02 {
	width:90%;
	margin:0 auto;
	padding:40px 0 20px;
}
.index_search_sp02 .search_list {
	position: relative;
    width: 100%;
    padding-bottom: 25px;
}
.index_search_sp02 .search_list h3 {
	font-size:1.6rem;
	letter-spacing:0.1em;
	font-weight:bold;
	margin-bottom:15px;
}
.index_search_sp02 .search_list ul {
	font-size:1.3rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
.index_search_sp02 .search_list ul li {
	position: relative;
    width: 100%;
	width: -moz-calc((100% / 2) - 0px);
	width: -webkit-calc((100% / 2) - 0px);
	width: calc((100% / 2) - 0px);
	letter-spacing:0.1em;
	margin-bottom:15px;
}
.index_search_sp02 .search_list ul li a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.index_search_sp02 .search_list ul li img {
	height:50px;
	padding-right:7px;
}

/* ############################ search ######################### */


}